<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.YATFAOB"
    version   = "0.1.2">

    <name>Eric talk</name>

    <description>
    </description>

    <preference name="target-device" value="tablet" /> 
    <preference name="backgroundColor" value="0x00000000" />
    <preference name="loadingDialog" value="Eric Talk, Eric will talk" />

</widget>
